<div style = "text-align: center;">
				<h1 style="font-family: Arial, Helvetica, sans-serif ">Số phần tử của tập hợp. Tập hợp con</h1>
				</br></br></br>
				<h3>1. Cho tập hợp M = {4; 9; a; 2; t; 7; c; z}. <br> Tập hợp M có số phần tử là: </h3>
					</br>
					<div inx="1_0" value="0" tpl="multiple_choice">  
			          <button class="basic_radio btn btn-primary" inx="1_0" value="1">
			      		    A. 4 phần tử
			          </button>
			          <button class="basic_radio btn btn-primary" inx="1_0" value="2">
			             	B. 5 phần tử
			          </button>
			          <button class="basic_radio btn btn-primary" inx="1_0" value="3">
			             	C. 8 phần tử
			          </button>
			          <button class="basic_radio btn btn-primary" inx="1_0" value="4">
			             	D. 10 phần tử
			          </button>
			        </div>
			            
			</br> 
			</br>
			</br>		
			<a href="#"><center><button type="button" class="btn btn-warning btn-lg">
				Gửi bài
			</button></center>
			</a>
			</div>
			<!-- banner-bottom -->
				<div class="banner-bottom">
					<div class="banner-bottom-grids">
						<div class="col-md-4 banner-bottom-grid">
							<h3>Chào mừng đến với<span> Luyện thi lớp 6</span></h3>
							<h2><i>" Trang luyện thi chất lượng, uy tín. "</i></h2>
							<p>Giới thiệu thông tin về trang ở đây 
								<span></span></p>
							<div class="more">
								<a href="single.html" class="hvr-rectangle-out">Read More...</a>
							</div>
							<div class="tags">
								<h4>Tags</h4>
								<ul>
									<li><a href="single.html">Themes</a></li>
									<li><a href="single.html">Art</a></li>
									<li><a href="single.html">Music</a></li>
									<li><a href="single.html">Entertainment</a></li>
									<li><a href="single.html">New</a></li>
									<li><a href="single.html">Design</a></li>
									<li><a href="single.html">Books</a></li>
									<li><a href="single.html">Themes</a></li>
									<li><a href="single.html">Art</a></li>
									<li><a href="single.html">Music</a></li>
									<li><a href="single.html">Entertainment</a></li>
									<li><a href="single.html">New</a></li>
									<li><a href="single.html">Design</a></li>
									<li><a href="single.html">Books</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 banner-bottom-grid">
							<h3>Các bài học mới nhất</h3>
							<div class="load_more">	
								<script>
									$(document).ready(function () {
										size_li = $("#myList li").size();
										x=1;
										$('#myList li:lt('+x+')').show();
										$('#loadMore').click(function () {
											x= (x+1 <= size_li) ? x+1 : size_li;
											$('#myList li:lt('+x+')').show();
										});
										$('#showLess').click(function () {
											x=(x-1<0) ? 1 : x-1;
											$('#myList li').not(':lt('+x+')').hide();
										});
									});
								</script>
								<ul id="myList">
									<li>
										<div class="l_g">
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/8.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">unde omnis iste natus error sit voluptatem</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/9.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">"Lorem ipsum dolor consectetur adipiscing</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/10.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">culpa qui officia deserunt mollit anim id</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/11.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">Itaque earum rerum hic tenetur a sapiente</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/12.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">ut aut reiciendis voluptatibus maiores</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
										</div>
									</li>
									<li>
										<div class="l_g">
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/8.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">unde omnis iste natus error sit voluptatem</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/9.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">"Lorem ipsum dolor consectetur adipiscing</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
											<div class="banner-bottom-grid1">
												<div class="col-xs-4 banner-bottom-grid-left">
													<img src="images/10.jpg" alt=" " class="img-responsive" />
												</div>
												<div class="col-xs-8 banner-bottom-grid-left">
													<h4><a href="single.html">culpa qui officia deserunt mollit anim id</a></h4>
												</div>
												<div class="clearfix"> </div>
											</div>
										</div>
									</li>
								</ul>
									<div id="loadMore" class="hvr-rectangle-out">Load more</div>
									<div id="showLess" class="hvr-rectangle-out">Show less</div>
							</div>
						</div>
						<div class="col-md-4 banner-bottom-grid">
							<h3>Các bài giảng, tin tức mới</h3>
							<div class="banner-bottom-grid-fig">
								<div class="banner-bottom-grid-fig1">
									<img src="images/4.jpg" alt=" " class="img-responsive" />
									<div class="banner-bottom-grid-fig1-pos">
										<a href="single.html">At vero eos et accusamus et iusto odio dignissimos ducimus</a>
										<p><i class="glyphicon glyphicon-time" aria-hidden="true"></i>March 20, 2016 By <a href="single.html">Andrew Smith</a></p>
									</div>
								</div>
								<div class="banner-bottom-grid-fig-grid">
									<div class="banner-bottom-grid-fig-grid1">
										<h4><span>Plan-1</span><a href="single.html">Sed ut perspiciatis unde omnis iste natus</a></h4>
										<p><i class="glyphicon glyphicon-time" aria-hidden="true"></i>March 25, 2016 By <a href="single.html">Michael</a></p>
									</div>
								</div>
								<div class="banner-bottom-grid-fig-grid">
									<div class="banner-bottom-grid-fig-grid1">
										<h4><span>Plan-2</span><a href="single.html">Neque porro quisquam est, qui dolorem ipsum quia</a></h4>
										<p><i class="glyphicon glyphicon-time" aria-hidden="true"></i>March 28, 2016 By <a href="single.html">Laura James</a></p>
									</div>
								</div>
								<div class="banner-bottom-grid-fig-grid">
									<div class="banner-bottom-grid-fig-grid1">
										<h4><span>Plan-3</span><a href="single.html">Similique sunt in culpa qui officia deserunt</a></h4>
										<p><i class="glyphicon glyphicon-time" aria-hidden="true"></i>March 30, 2016 By <a href="single.html">Fedrick</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<!-- //banner-bottom -->
			</div>
		</div>
	</div>