
<div class="services">
	<h2>GIỚI THIỆU</h2>
	<div class="services-grids">
		<div class="col-md-4 services-grid-left">
			<img src="images/2.jpg" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-8 services-grid-right">
			<h3>LUYỆN THI VÀO LỚP 6 LÀ GÌ??</h3>
			<p>Là chương trình ôn tập, tự học TOÁN , TIẾNG VIỆT, VẬT LÝ và HÓA HỌC trực tuyến dành cho học sinh từ Lớp 5 theo phương pháp mới, giúp các con tránh được cảm giác nhàm chán với cách học trên sách vở truyền thống.
Luyện Thi Vào Lớp 6 giúp cho học sinh có thêm một người BẠN HỌC thân thiết, một GIA SƯ THÚ VỊ và là một CÔNG CỤ TỰ HỌC HIỆU QUẢ.
Luyện Thi Vào Lớp 6 sản phẩm của Nhóm 5 - công ty đã có 8 năm kinh nghiệm làm giáo dục trực tuyến - Chúng tôi đã dành 2 năm để nghiên cứu, xây dựng và phát triển, được tạo ra bởi đội ngũ giáo viên tâm huyết, yêu nghề nhiều kinh nghiệm và giàu sáng tạo cùng với nền tảng công nghệ mới nhất. (Nội dung mói khác đang được xây dựng).</p>
			<h4><i>"Nếu có một phương pháp giúp con tự học, tự thực hành và áp dụng kiến thức một cách HỨNG THÚ và HIỆU QUẢ giúp con nhớ kiến thức lâu hơn để thi vào lớp 6 thì bạn hãy đến với chúng tôi. Luyện Thi Vào Lớp 6"</i></h4>
			<div class="services-grid-right-l">
				<p>Chúng tôi sẽ mở thế giới <span>KIẾN THỨC</span> đến với bạn để giúp bạn vào lớp 6!!</p>
			</div>
			
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="services-grids1">
		<div class="col-md-3 services-grids1-grid">
			<img src="images/8.jpg" alt=" " class="img-responsive" />
			<h4><a href="single.html">Dễ dùng - Dễ học</a></h4>
			<p>Giao diện đẹp mắt, dễ dùng và logic, bài học được bố trí theo mục lục sách giáo khoa nên học sinh dễ dàng tìm được bài mình muốn ôn, học. Con có thể học bất cứ lúc nào, ở đâu, trên bất cứ thiết bị nào.</p>
			<div class="more">
				<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
			</div>
		</div>
		<div class="col-md-3 services-grids1-grid">
			<img src="images/9.jpg" alt=" " class="img-responsive" />
			<h4><a href="single.html">Hiệu quả - thú vị</a></h4>
			<p>Với cách tương tác mới, các con sẽ biết ngay được kết quả sau mỗi câu và xem đáp án, hướng dẫn giải chi tiết để từ đó hiểu ra vấn đề. Cách học này chắn chắn sẽ khiến con cảm thấy việc học TOÁN, TIẾNG VIỆT, LÝ, HÓA KHÔNG KHÓ và RẤT THÚ VỊ.
</p>
			<div class="more">
				<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
			</div>
		</div>
		<div class="col-md-3 services-grids1-grid">
			<img src="images/10.jpg" alt=" " class="img-responsive" />
			<h4><a href="single.html">Câu hỏi phong phú - đa dạng</a></h4>
			<p>Thư viện 60.000 bài tập có đáp án và giải thích đúng sai được soạn một cách sáng tạo gồm rất nhiều chủ đề và tình huống khác nhau. Thuật toán thông minh giúp các con không phải làm đi làm lại một câu hỏi mà con đã hiểu và làm đúng trước đó.</p>
			<div class="more">
				<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
			</div>
		</div>
		<div class="col-md-3 services-grids1-grid">
			<img src="images/11.jpg" alt=" " class="img-responsive" />
			<h4><a href="single.html">Học bạ thông minh - dễ quản lý</a></h4>
			<p>Học bạ cá nhân giúp cha mẹ và học sinh có thể dễ dàng biết được lịch sử - tiến trình học tập và nắm được kết quả học tập của con. Biết được con còn yếu ở mảng nào để định hướng con ôn luyện kỹ hơn phần đó. Cha mẹ có thể theo dõi học bạ của con qua website, email hoặc SMS.</p>
			<div class="more">
				<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
