<!-- banner -->
				<div class="banner">
					<div class="banner-grids">
						<div class="banner-left">
							<div class="banner-left1">
								<div class="banner-left1-grid">
									<img src="images/1.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài luyện thi
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
								<div class="banner-left1-grid">
									<img src="images/4.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài luyện thi
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
							</div>
							<div class="banner-left2">
								<div class="banner-left1-grid">
									<img src="images/3.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài luyện thi
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
								<div class="banner-left1-grid">
									<img src="images/2.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài giảng
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="banner-right">
							<section class="slider">
								<div class="flexslider">
									<ul class="slides">
										<li>
											<div class="services-grid-right-grid1">
												
											</div>
										</li>
										<li>
											<div class="services-grid-right-grid2">
												
											</div>
										</li>
										<li>
											<div class="services-grid-right-grid3">
												
											</div>
										</li>
									</ul>
								</div>
							</section>
									<!--FlexSlider-->
									<script defer src="js/jquery.flexslider.js"></script>
									<script type="text/javascript">
										$(window).load(function(){
										  $('.flexslider').flexslider({
											animation: "slide",
											start: function(slider){
											  $('body').removeClass('loading');
											}
										  });
										});
									</script>
									<!--End-slider-script-->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<!-- //banner -->
			<!-- services -->
				<div class="services">
					<h2>GIỚI THIỆU</h2>
					<div class="services-grids">
						<div class="col-md-4 services-grid-left">
							<img src="images/2.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-8 services-grid-right">
							<h3>Chúng tôi cung cấp <span>dịch vụ</span> tuyệt vời</h3>
							<p>Ví dụ như không có lỗi, nó có thể được sử dụng để xác định lỗi của bạn, bạn có thể sử dụng nó một cách dễ dàng, nhưng không có gì khác. Điều này có nghĩa là bạn có thể ngồi trong tự động, sau đó bấm vào đây để xem lại, bạn có thể sử dụng các trình đơn của bạn.</p>
							<h4><i>"Nhưng tôi phải giải thích cho bạn làm thế nào tất cả những ý tưởng sai lầm này để phủ nhận niềm vui và ca ngợi nỗi đau đã được sinh ra và tôi sẽ cho bạn một sự hoàn chỉnh."</i></h4>
							<div class="services-grid-right-l">
								<p>Chúng tôi sẽ mở thế giới <span>KIẾN THỨC</span> đến với bạn!!</p>
							</div>
							<div class="services-grid-right-r">
								<h5>Liên hệ với chúng tôi <i>+84 123456789</i></h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="services-grids1">
						<div class="col-md-3 services-grids1-grid">
							<img src="images/8.jpg" alt=" " class="img-responsive" />
							<h4><a href="single.html">Nemo enim volup</a></h4>
							<p>Nhưng tôi phải giải thích cho bạn làm thế nào tất cả những ý tưởng sai lầm này về việc tố cáo niềm vui và ca ngợi nỗi đau đã được sinh ra.</p>
							<div class="more">
								<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
							</div>
						</div>
						<div class="col-md-3 services-grids1-grid">
							<img src="images/9.jpg" alt=" " class="img-responsive" />
							<h4><a href="single.html">quasi archite</a></h4>
							<p>Nhưng tôi phải giải thích cho bạn làm thế nào tất cả những ý tưởng sai lầm này về việc tố cáo niềm vui và ca ngợi nỗi đau đã được sinh ra.</p>
							<div class="more">
								<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
							</div>
						</div>
						<div class="col-md-3 services-grids1-grid">
							<img src="images/10.jpg" alt=" " class="img-responsive" />
							<h4><a href="single.html">quia voluptas sit</a></h4>
							<p>Nhưng tôi phải giải thích cho bạn làm thế nào tất cả những ý tưởng sai lầm này về việc tố cáo niềm vui và ca ngợi nỗi đau đã được sinh ra.</p>
							<div class="more">
								<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
							</div>
						</div>
						<div class="col-md-3 services-grids1-grid">
							<img src="images/11.jpg" alt=" " class="img-responsive" />
							<h4><a href="single.html">totam rem aperiam</a></h4>
							<p>Nhưng tôi phải giải thích cho bạn làm thế nào tất cả những ý tưởng sai lầm này về việc tố cáo niềm vui và ca ngợi nỗi đau đã được sinh ra.</p>
							<div class="more">
								<a href="single.html" class="hvr-rectangle-out">Đọc tiếp...</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<!-- //services -->