<!-- banner -->
				<div class="banner">
					<div class="banner-grids">
						<div class="banner-left">
							<div class="banner-left1">
								<div class="banner-left1-grid">
									<img src="images/1.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài luyện thi
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
								<div class="banner-left1-grid">
									<img src="images/4.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài luyện thi
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
							</div>
							<div class="banner-left2">
								<div class="banner-left1-grid">
									<img src="images/3.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài luyện thi
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
								<div class="banner-left1-grid">
									<img src="images/2.jpg" alt=" " class="img-responsive" />
									<div class="banner-info">
										<a class="read-more" href="single.html"><i></i></a>
										<h3>
											<a href="single.html">
												Bài giảng
											</a>
										</h3>
										<div class="event-meta">
											<h4>Miêu tả ngắn</h4>
											<p>Bài học về luyện thi lớp 6</p>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="banner-right">
							<section class="slider">
								<div class="flexslider">
									<ul class="slides">
										<li>
											<div class="services-grid-right-grid1">
												a
											</div>
										</li>
										<li>
											<div class="services-grid-right-grid2">
												b
											</div>
										</li>
										<li>
											<div class="services-grid-right-grid3">
												b
											</div>
										</li>
									</ul>
								</div>
							</section>
									<!--FlexSlider-->
									<script defer src="js/jquery.flexslider.js"></script>
									<script type="text/javascript">
										$(window).load(function(){
										  $('.flexslider').flexslider({
											animation: "slide",
											start: function(slider){
											  $('body').removeClass('loading');
											}
										  });
										});
									</script>
									<!--End-slider-script-->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<!-- //banner -->
			<!-- hoi dap -->

				<div class="services">
					<h2>Hỏi đáp</h2>
					
					<div class="container search-table">
			            <div class="search-box">
			                <div class="row">
			                    <div class="col-md-2">
			                        <h5>Search All </h5>
			                    </div>
			                   <div class="col-md-8">
			            <div id="custom-search-input">
		                <div class="input-group col-md-12">
		                    <input type="text" class="form-control input-lg" placeholder="Tìm kiếm câu hỏi, chủ đề..." />
		                    <span class="input-group-btn">
		                        <button class="btn btn-info btn-lg" type="button">
		                            <i class="glyphicon glyphicon-search"></i>
		                        </button>
		                    </span>
		                </div>
	           		 </div>
      				</div>

                </div>
            </div>
           
        </div>


					<div class="navigation">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="stroke">
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html">Mới nhất</a></li>
									<li><a href="ddd.html" class="hvr-rectangle-out">Chưa trả lời</a></li>
									<li><a href="ccc.html" class="hvr-rectangle-out">Đang theo dõi</a></li>
									<li><a href="bbbb.html" class="hvr-rectangle-out">Câu hỏi hay</a></li>
									<li><a href="aaa.html" class="hvr-rectangle-out">Gửi câu hỏi</a></li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
					
					<!-- tương tác -->
					<div class="services-grids1 hoidap cauhoi">
						<div class="title row" >
							<a href="#">
								<div class="col-md-1">
									<img src="images/1.jpg" width="70" height="75">
								</div>
								<div class="col-md-8"><!-- info-->
									<div style="color: red">nguyendacha</div>
									<div >Gửi lúc: 26 phút trước (13:02) </div>
								</div>
					
							</a>
						</div>
					</br>

							<div title="Xem chi tiết câu hỏi" >
								<a href="#">12312355165256*254365245435*325346*(12344321-12344321)=?<a>
							</div>
							</br>
							</br>
						<div class="row">
							<div  title="Xem thêm các câu hỏi Toán lớp 4" class="col-md-2">
								<a href="#" style="color: black">Toán lớp 4</a>
							</div>
							<div  title="Xem thêm các câu hỏi Đố vui" class="col-md-2">
								<a href="#" style="color: black">Đố vui</a>
								
							</div>
							<div title="Tìm câu hỏi tương tự"  class="col-md-2 tuongtu" style="background-color: yellow">
								<a href="#" style="color: black">Tìm câu hỏi tương tự</a>
								
							</div>	 
							</br>
								<hr>
							
						</div>
						<!--share-->
						<div class="row">
							<div   class="col-md-2">
								<a href="#">
								<i class="fa fa-comments-o" aria-hidden="true"></i>
								<span>2</span>
								Trả lời
								</a>
							</div>
							<div  class="col-md-3">
								<i class="fa fa-anchor"></i>
								
								Theo dõi câu hỏi này
								
							</div>
							<div  class="col-md-2" >
								<i class="fa fa-share"></i>
								chia sẻ facebook
								
							</div>	 
							</br>
									
						</div>
						<!--share-->
						<!--tra loi-->
						</br>

						<div class="container search-table">
			            <div class="search-box">
			                <div class="row">
			                    <div class="col-md-2">
			                        <h5>Trả lời </h5>
			                    </div>
			                  <div class="col-md-8">
			           			 <div id="custom-search-input">
		                				<div class="input-group col-md-12">
		                				    <input type="text" class="form-control input-lg" placeholder="trả lời câu hỏi trên" />
		                   					 <span class="input-group-btn">
		                    			   
		              					</div>
	           					 </div>
      						</div>
      					</div>
      					</div>
      				<!--traloi-->

					</div>


					
					<!-- tương tác -->
				</div>
			<!-- hoi dap -->
			</div>
			</br>

		<!--so2-->
			<div class="services-grids1 hoidap cauhoi">
				<div class="title row" >
							<a href="#">
								<div class="col-md-1">
									<img src="images/1.jpg" width="70" height="75">
								</div>
								<div class="col-md-8"><!-- info-->
									<div style="color: red">nguyen tien trien</div>
									<div >Gửi lúc: 45 phút trước (12:15) </div>
								</div>
					
							</a>
						</div>
					</br>

							<div title="Xem chi tiết câu hỏi" >
								<a href="#">1+ 2 + 3 + 4 +5 + 6 =?<a>
							</div>
							</br>
							</br>
						<div class="row">
							<div  title="Xem thêm các câu hỏi Toán lớp 4" class="col-md-2">
								<a href="#" style="color: black">Toán lớp 5</a>
							</div>
							<div  title="Xem thêm các câu hỏi Đố vui" class="col-md-2">
								<a href="#" style="color: black">Logic</a>
								
							</div>
							<div title="Tìm câu hỏi tương tự"  class="col-md-2 tuongtu" style="background-color: yellow">
								<a href="#" style="color: black">Tìm câu hỏi tương tự</a>
								
							</div>	 
							</br>
								<hr>
							
						</div>
						<!--share-->
						<div class="row">
							<div   class="col-md-2">
								<a href="#">
								<i class="fa fa-comments-o" aria-hidden="true"></i>
								<span>2</span>
								Trả lời
								</a>
							</div>
							<div  class="col-md-3">
								<i class="fa fa-anchor"></i>
								
								Theo dõi câu hỏi này
								
							</div>
							<div  class="col-md-2" >
								<i class="fa fa-share"></i>
								chia sẻ facebook
								
							</div>	 
							</br>
									
						</div>
						<!--share-->
						</br>

						<!--tra loi-->
						<div class="container search-table">
			            <div class="search-box">
			                <div class="row">
			                    <div class="col-md-2">
			                        <h5>Trả lời </h5>
			                    </div>
			                  <div class="col-md-8">
			           			 <div id="custom-search-input">
		                				<div class="input-group col-md-12">
		                				    <input type="text" class="form-control input-lg" placeholder="Trả lời câu hỏi trên" />
		                   					 <span class="input-group-btn">
		                    			   
		              					</div>
	           					 </div>
      						</div>
      					</div>
      					</div>
      				<!--traloi-->

					</div>	
			</div>	<!--so2-->	
		</div>
		<nav style="text-align:center">
			<ul class="pagination">
				<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
			</ul>
		</nav>
	</div>
<!-- //body -->