<!DOCTYPE html>
<html>
<head>
<title>Luyện thi vào lớp 6 | index</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){     
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<style type="text/css">
    .basic_radio {
        background-color: #348dc1;
        border-radius: 7px;
        width: 40%;
        text-align: center;
        font-size: 18px;
        margin: 5px;
        padding: 10px;
        vertical-align: top;
        position: relative;
    }
</style>
{{{_sections.css}}}
</head>
    
<body>
<!-- body -->
    <div class="body-content">
        <div class="container">
            <div class="body-content1">
            <!-- header -->
                <div class="logo-search">
                    <div class="logo">
                        <h1><a href="/">N<span class="color">h</span><span class="color1">ó</span><span class="color2">m</span> <span>5</span> <i>Luyện thi vào lớp 6</i></a></h1>
                    </div>
                    <div class="search">
                        <form>
                            <input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here...';}" required="">
                            <input type="submit" value=" " >
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            <!-- //header -->
            <!-- nav -->
                <div class="navigation">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <nav class="stroke">
                                <ul class="nav navbar-nav">
                                    <li class=""><a href="/">Trang chủ</a></li>
                                    <li><a href="/baihoc" class="hvr-rectangle-out">Bài học</a></li>
                                    <li><a href="/dethi" class="hvr-rectangle-out">Luyện thi</a></li>
                                    <li><a href="/gioithieu" class="hvr-rectangle-out">Giới thiệu</a></li>
                                    <li><a href="/lienhe" class="hvr-rectangle-out">Liên hệ</a></li>
                                    <li><a href="/dangky" class="hvr-rectangle-out">Đăng ký</a></li>
                                    <li><a href="/dangnhap" class="hvr-rectangle-out">Đăng nhập</a></li>

                                </ul>
                            </nav>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            <!-- //nav -->
           

           {{{body}}}
    
<!-- footer -->
    <div class="footer">
        <div class="container">
            <h3>Đăng kí nhận thư</h3>
            <p class="para">Nhập email của bạn để nhận được các cập nhật mới nhất từ website luyện thi lớp 6.</p>
            <div class="footer-contact">
                <form>
                    <input type="text" placeholder="Nhập email tại đây" required=" ">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <p>NHOM5 Co., LTD
                        Nguyen Van Cu
                        HCMC
                    <a href="mailto:info@example.com">nhom5@gmail.com</a>
                    <p>Phone : +84 123456789</p>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="mail.html">Liên hệ</a></li>
                        <li><a href="gallery.html">Các bài học</a></li>
                        <li><a href="short-codes.html">Các bài luyện thi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <ul>
                        <li><a href="events.html">Dịch vụ</a></li>
                        <li><a href="services.html">FAQ</a></li>
                        <li><a href="index.html">Trang chủ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="images/10.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="images/12.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="images/11.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="images/10.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="images/8.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="images/9.jpg" alt=" " class="img-responsve" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-copy">
                <!-- <p>&copy 2016 Kids School. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p> -->
                <ul>
                    <li><a href="#" class="twitter"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Twitter"></span></a></li>
                    <li><a href="#" class="p"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Pinterest"></span></a></li>
                    <li><a href="#" class="facebook" id="facebook"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Facebook"></span></a></li>
                    <li><a href="#" class="dribble"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Dribbble"></span></a></li>
                    <li><a href="#" class="rss"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On RSS"></span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <script>
                    $(function () {
                      $('[data-toggle="tooltip"]').tooltip()
                    })
                </script>
            </div>
        </div>
    </div>
<!-- //footer -->
<!-- here stars scrolling icon -->
    <script type="text/javascript">
                                    $(document).ready(function() {
                                       
                                        
                                        $().UItoTop({ easingType: 'easeOutQuart' });
                                        
                                    });
    </script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
{{{_sections.js}}}
</body>
</html>