{{#section 'title'}}
<b>Update người dùng</b>
{{/section}}

{{#if showResult}}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>OK!</strong> Đã cập nhật người dùng
</div>
{{/if}}

{{#with vm.nguoidung}}
<div class="container-fluid">
    <form method="post" role="form" action="update">
        <div class="form-group">
            <label for="">Tên</label>
            <input type="text" class="form-control" name="MaDeThi" value="{{TenNguoiDung}}">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="ThoiGian" value="{{Email}}">
        </div>
        <div class="form-group">
            <label for="">SDT</label>
            <input type="text" class="form-control" name="SoCau" value="{{SDT}}">
        </div>
        <div class="form-group">
            <label for="">Giới tính</label>
            <input type="text" class="form-control" name="SoDiemMotCau" value="{{GioiTinh}}">
        </div>

        <a class="btn btn-default" href="/admin/nguoidung" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Trở về
        </a>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            Update
        </button>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>
{{/with}}